---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - baac018e1d4413d25685f2e3e123948b
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-a57w
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TQZ4GS0GJ","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TQZ4GS0GJ"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UR0DRNLBV","team_id":"TQZ4GS0GJ","name":"chris","deleted":true,"profile":{"title":"","phone":"","skype":"","real_name":"chris","real_name_normalized":"chris","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g4e62532966a","image_24":"https:\/\/secure.gravatar.com\/avatar\/4e62532966ac015ae2bea1123657c35d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/4e62532966ac015ae2bea1123657c35d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/4e62532966ac015ae2bea1123657c35d.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/4e62532966ac015ae2bea1123657c35d.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/4e62532966ac015ae2bea1123657c35d.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/4e62532966ac015ae2bea1123657c35d.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-512.png","status_text_canonical":"","team":"TQZ4GS0GJ"},"is_bot":false,"is_app_user":false,"updated":1575578698,"is_invited_user":true},{"id":"UR4CK87CH","team_id":"TQZ4GS0GJ","name":"googledrive","deleted":false,"color":"df3dc0","real_name":"Google
        Drive","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Google
        Drive","real_name_normalized":"Google Drive","display_name":"Google Drive","display_name_normalized":"Google
        Drive","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"7d2d8a71a74e","api_app_id":"A6NL8MJ6Q","always_active":true,"image_original":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_original.png","is_custom_image":true,"bot_id":"BRCAS0KNU","first_name":"Google","last_name":"Drive","image_24":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2019-12-05\/850898772403_7d2d8a71a74e804ec56d_1024.png","status_text_canonical":"","team":"TQZ4GS0GJ"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"is_app_user":false,"updated":1575604292},{"id":"URA0QQ8G3","team_id":"TQZ4GS0GJ","name":"devin","deleted":false,"color":"9b3b45","real_name":"Devin","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200[...]
- request:
    method: get
    uri: https://slack.com/api/bogus.call?token=<SLACK_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - r
      X-Slack-Req-Id:
      - d730268298243b838774171fe2d0ad6c
      X-Via:
      - haproxy-www-malu
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.call"}'
  recorded_at: Fri, 13 Mar 2020 02:43:09 GMT
recorded_with: VCR 5.1.0
